$header-bg-color: #F7EBE5;
$accent-color: #E7426A;
$logo: #B3D9F3;
$hero-bgc-blue: rgba(152, 224, 194, 0.38);
$hero-bgc-pink: rgba(255, 252, 189, 0.45);
$header-color: rgba(0, 0, 0, 0.79);
$nav-color: #2B1414;
$primary-text-color: #292929;

