$header-bg-color: #f7ebe5;
$accent-color: #e7426a;
$logo: #b3d9f3;
$hero-bgc-blue: rgba(152, 224, 194, 0.38);
$hero-bgc-pink: rgba(255, 252, 189, 0.45);
$header-color: rgba(0, 0, 0, 0.79);
$nav-color: #2b1414;
$primary-text-color: #292929;
$icons-color: #000000;
$menu-items-underline: rgba(0, 0, 0, 0.1);
$primery-text-font: "Proxima Nova", sans-serif;
$secondary-text-font: 'Montserrat', sans-serif;
$white: #ffffff;
