.header {
  position: fixed;
  width: 100%;
  min-width: 320px;
  background-color: $header-bg-color;  
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.contacts-list__icon {
  margin-right: 13px;
}

.social-link-list {
  display: flex;
}

.social-link__item:not(:last-child) {
  margin-right: 12px;
}


@media screen and (min-width: 320px) and (max-width: 799px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;   
  }
  
  .hamburger-menu {
    min-width: 320px;
    display: flex;
    justify-content: space-between;  
  }

  .hamburger-menu__btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }
  .hamburger-menu__btn span {
    position: relative;
    width: 20px;
    border: 1px solid $primary-text-color;
    background-color: $primary-text-color;
  }

  .hamburger-menu__btn span::before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: -1px;
    display: block;
    width: 21px;
    border: 1px solid $primary-text-color;
    background-color: $primary-text-color;
  }

  .hamburger-menu__btn span::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    top: 6px;
    left: -1px;
    border: 1px solid $primary-text-color;
    background-color: $primary-text-color;
  }

  
  .checkbox:checked ~ .hamburger-menu__btn span {
    transform: rotate(45deg);
    bottom: 1px;
  } 

  .checkbox:checked ~ .hamburger-menu__btn span::before {
    transform: rotate(90deg);
    bottom: -1px;
    left: -2px;
  } 

  .checkbox:checked ~ .hamburger-menu__btn span::after {
    display: none;
  } 

  .mobile-logo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 3px;
  }

  .mobile-logo .mobile-logo__hat {
    position: absolute;
  }

  .mobile-logo .mobile-logo__butterfly {
    position: absolute;
    top: 50px;
  }

  .mobile-logo .mobile-logo__logo-text {
    position: absolute;
    top: 21px;
  }

  .cart-link {
    display: block;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 25px;
  }

  .header-top {
    position: fixed;
    height: calc(100% - 58px);
    top: 58px;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-right: 19px;
    padding-left: 19px;

    background-color: $header-bg-color;

    visibility: hidden;
    overflow: auto;
  }

  .checkbox:checked ~ .header-top {
    visibility: visible;
  }

  .navigation-list,
  .navigation-services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation-links {
    margin-bottom: 20px;
  }

  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-bottom: 21px;
    background-color: transparent;
    border: none;
  }

  .navigation-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navigation-list__link {
    padding-top: 12px;
    padding-bottom: 11px;

    font-family: $primery-text-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: $header-color;
    text-transform: uppercase;
  }

  .nav-item-underline {
    width: 282px;
    border-bottom: 1px solid $menu-items-underline;
  }

  .navigation-services {
    margin-bottom: 24px;
  }

  .navigation-services__item {
    margin-bottom: 14px;

    font-family: $primery-text-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: $header-color;
  }

  .navigation-services__item:last-child {
    margin-bottom: 0;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts-list__item:not(:last-child) {
    margin-bottom: 11px;
  }

  .navigation-list__link--accent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: $accent-color;
    color: $white;
    border-radius: 50%;
  }

  .contacts-list__tel {
    display: flex;
    justify-content: center;
    padding-top: 14px;
  }

  
}

@media screen and (min-width: 800px) {
  .mobile-logo {
    display: none;
  }

  .header-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .header-desktop-order,
  .navigation-services-list,
  .contacts-list,
  .social-link-list {
    display: flex;
    align-items: center;
  }
   
  .header-top .navigation-links {
    display: none;
  }

  .cart-link {
    position: absolute;
    top: 0;
    left: 0;
  }

  .navigation-services,
  .contacts-list__item:not(:last-child) {
    margin-right: 29px;
  }

  .navigation-services__item:not(:last-child) {
    margin-right: 14px;    
  }

  .navigation-services__link {
    display: block;
    padding: 15px 0;

    font-size: 14px;
    line-height: 1.21;
    color: $header-color;
  }

  .contacts-list {
    

  }

  .contacts-list__tel {
    display: flex;
    align-items: center;
  }

  

  
}
