.header .container {
  padding-left: 0;
  padding-right: 0;
}

.hamburger-menu {
  display: flex;
  justify-content: space-between;
  background-color: $header-bg-color;
}

.hamburger-menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
.hamburger-menu__btn span {
  position: relative;
  width: 20px;
  border: 1px solid $primary-text-color;
}

.hamburger-menu__btn span::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -1px;
  display: block;
  width: 20px;
  border: 1px solid $primary-text-color;
}

.hamburger-menu__btn span::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  top: 6px;
  left: -1px;
  border: 1px solid $icons-color;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 3px;
}

.logo .hat {
  position: absolute;
}

.logo .butterfly {
  position: absolute;
  top: 50px;
}

.logo .logo-text {
  position: absolute;
  top: 21px;
}

.cart-link {
  display: block;
  padding-top: 18px;
  padding-bottom: 16px;
  padding-right: 25px;
}

.header-top {
  padding-top: 20px;
  padding-bottom: 12px;
  padding-right: 19px;
  padding-left: 19px;

  background-color: $header-bg-color;
}

.navigation-list,
.navigation-services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-links {
  margin-bottom: 20px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-bottom: 21px;
  background-color: transparent;
  border: none;
}

.navigation-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-list__link {
  padding-top: 12px;
  padding-bottom: 11px;

  font-family: $primery-text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: $header-color;
  text-transform: uppercase;
}

.nav-item-underline {
  width: 282px;
  border-bottom: 1px solid $menu-items-underline;
}

.navigation-services {
  margin-bottom: 24px;
}

.navigation-services__item {
  margin-bottom: 14px;

  font-family: $primery-text-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: $header-color;
}

.navigation-services__item:last-child {
  margin-bottom: 0;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 11px;
}

.navigation-list__link--accent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: $accent-color;
  color: $white;
  border-radius: 50%;
}

.contacts-list__tel {
  display: flex;
  justify-content: center;
  padding-top: 14px;
}

.contacts-list__icon {
  margin-right: 13px;
}

.social-link-list {
  display: flex;
}

.social-link__item:not(:last-child) {
  margin-right: 12px;
}
