.main-title {
  text-align: center;
  margin-bottom: 60px;

  font-family: $secondary-text-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: $primary-text-color;
}

.title-discription {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.25;
  text-transform: none;
}

.title-discription::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  border: 1px solid $icons-color;
}

.title-discription::after {
  content: "";
  display: inline-block;
  margin-left: 4px;
  width: 20px;
  border: 1px solid $icons-color;
}

.hero-introduce {
  text-align: center;
  margin-top: 11px;

  font-size: 14px;
  line-height: 1.21;
}

.section-title {
  margin-top: 40px;
  text-align: center;

  font-family: $secondary-text-font;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .hero {
    padding-top: 125px;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    padding-top: 206px;
  }
}
