.promotion {
  padding-top: 38px;
  padding-bottom: 61px;
}

.promotion__title {
  text-align: center;
  margin-bottom: 17px;

  font-family: $secondary-text-font;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.promotion__block {
  position: relative;
}

.promotion__caption {
  position: absolute;
  top: 100%;
  left: 0;
  
  width: 288px;
  height: 208px;
  background: linear-gradient(180deg, rgba(82, 179, 81, 0), #52B351);
  border-radius: 5px;
}

.picture {
  position: relative;
  display: flex;
}
